
OldSUS.ncFiles/scro_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_GS_nsym1o_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_GS_nsym1_2kpto_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_GS_nsym0o_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_DoubleVoid_GSo_DS1_SUS.nc
OldSUS.ncFiles/Al_Bulk_GSo_DS1_SUS.nc
Oldchi0rrMatrices/chi0rrSlabSym_Mat.npy
Oldchi0rrMatrices/chi0rrSlabSym_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrSlabnsym0_Mat.npy
Oldchi0rrMatrices/chi0rrSlabnsym0_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrSlab_Mat.npy
Oldchi0rrMatrices/chi0rrSlab_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrslab2_Mat.npy
Oldchi0rrMatrices/chi0rrconv_Mat.npy
Oldchi0rrMatrices/chi0rrconv_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrBulkSym_Mat.npy
Oldchi0rrMatrices/chi0rrBulkSym_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrBulk_Mat.npy
Oldchi0rrMatrices/chi0rrBulk_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0GGSlabSym_Mat.npy
Oldchi0rrMatrices/chi0GGSlabNsym0_Mat.npy
Oldchi0rrMatrices/chi0GGSlab_Mat.npy
Oldchi0rrMatrices/chi0GGSlab2D_Mat.npy
BS_Slab5Atoms_GSR.nc
BS_Slab7Atoms_GSR.nc
BS_Slab9Atoms_GSR.nc
Bulk000A0.png
Bulk000A0A2.png
Bulk000A2.png
Bulk223A0.png
Bulk2Atoms.in
Bulk2Atoms6_ecut8o_DS1_SUS.nc
Bulk2Atoms6o_DS1_DEN
Bulk2Atoms6o_DS1_SUS.nc
Bulk2Atoms_ecut8_Axe100.png
Bulk2AtomsCut160x120
Bulk2Atomso_DS1_GSR.nc
Bulk2Atomso_DS1_SUS.nc
Bulk2Atomso_DS2_STM
Bulk2AtomsSTM160x120
Bulk2dV.png
Bulk2Ecut12Axe100.png
Bulk_Axe100_Axe001.png
Bulk_DEN_TEST1
BulkCell.png
BulkMap.png
BulkNoBackground.png
BulkSlab000A0.png
BulkSlab000A2.png
BulkSlab223A0.png
BulkSlab223A2.png
BulkSTMTest1
chargeAccBulk.png
ChargeAccuBulk.png
Chi0AlBulk_1pnt.png
chi0AlBulk_3pnts.png
Chi0AlBulkAtoms.png
chi0GG_prim_eps17_FromSym_ngkpt444_omega0.npy
chi0GG_slab13_eps14_FromSym_ngkpt441_omega0_nband150.npy
chi0GG_slab4_eps14_FromSym_ngkpt441_omega0_nband150.npy
chi0GG_slab5.npy
chi0GG_slab5_ecut8.npy
chi0rr_bulk2atoms6.npy
chi0rr_bulk2atoms6_ecut8.npy
chi0rr_prim_eps17_FromSym_ngkpt444_omega0.npy
chi0rr_slab13_eps14_FromSym_ngkpt441_omega0_nband150.npy
chi0rr_slab3atoms6_ecut8.npy
chi0rr_slab4_eps14_FromSym_ngkpt441_omega0_nband150.npy
chi0rr_slab5.npy
chi0rr_slab5_2.npy
chi0rr_slab5_80pnt.npy
chi0rr_slab5_ecut8_2.npy
chi0rr_slab5atoms6_ecut8.npy
chi0rr_slab7atoms6_ecut8.npy
chi0rr_SYM_bulk2Atoms_ecut8_666.npy
chi0rrConvEcut12.npy
chi0rrSlab5ecut9.npy
Data for the files.nc.docx
Al_Bulk_eps17_SUS.nc
Al_Bulk_GSo_DS1_SUS.nc
Al_Bulk_nkpt10o_DS1_SUS.nc
Al_Bulk_nkpt4_nbando_DS1_SUS.nc
Al_Bulk_nkpt4_nbando_DS2_SUS.nc
Al_Bulk_nkpt4_nbando_DS3_SUS.nc
Al_Bulk_nkpt4_nbando_DS4_SUS.nc
Al_Bulk_nkpt4_nbando_DS5_SUS.nc
Al_Bulk_nkpt4o_DS1_SUS.nc
Al_Bulk_nkpt4o_DS2_SUS.nc
Al_Bulk_nkpt4o_DS3_SUS.nc
Al_Bulk_nkpt4o_DS4_SUS.nc
Al_Bulk_nkpt4o_DS5_SUS.nc
Al_Bulk_nkpt4o_DS6_SUS.nc
Al_Bulk_nkpt6o_DS1_SUS.nc
Al_Bulk_nkpt8o_DS1_SUS.nc
Al_Bulk_nkpt8o_DS2_SUS.nc
Al_Bulk_nsym0o_DS1_SUS.nc
Al_Bulk_nsym1o_DS1_SUS.nc
Al_Bulko_DS1_SUS.nc
Al_Conv_ecut12_SUS.nc
Al_Conv_ecut15_SUS.nc
Al_Conv_ecut9_SUS.nc
Al_D_conv_SUS_ngkpt4_ecuteps14_nband150.npy
Al_D_prim_SUS_ngkpt4_ecuteps17_nband200.npy
Al_D_prim_SUS_ngkpt4_ecuteps25_nband200.npy
Al_D_prim_SUS_ngkpt4_ecuteps5_nband200.npy
Al_D_prim_SUS_ngkpt8_ecuteps14_nband150.npy
Al_R_conv_SUS_ngkpt4_ecuteps14_nband150.npy
Al_R_prim_SUS_ngkpt4_ecuteps17_nband200.npy
Al_R_prim_SUS_ngkpt4_ecuteps25_nband200.npy
Al_R_prim_SUS_ngkpt4_ecuteps5_nband200.npy
Al_R_prim_SUS_ngkpt8_ecuteps14_nband150.npy
Al_Slab5_Chi0o_DS1_SUS.nc
Al_Slab5_ecut6o_DS2_SUS.nc
Al_Slab5_ecut9o_DS2_SUS.nc
Al_Slab5_ecuteps8_SUS.nc
Al_Slab5_Nband1_SUS.nc
Al_Slab5_Nband5_SUS.nc
Al_Slab_dvo_DS1_SUS.nc
Al_Slab_GS_Chi0o_DS1_SUS.nc
Al_Slab_GS_nsym0o_DS1_SUS.nc
Al_Slab_GS_nsym0o_DS2_SUS.nc
Al_Slab_GSo_DS1_SUS.nc
Al_Slab_nsym0o_DS1_SUS.nc
Al_Slab_nsym1o_DS1_SUS.nc
BS_Bulk2Atoms_GSR.nc
BS_Slab3Atoms_GSR.nc
Slab3Atomso_DS1_GSR.nc
Slab3Atomso_DS1_SUS.nc
Slab5Atoms6_ecut8o_DS1_SUS.nc
Slab5Atoms6o_DS1_SUS.nc
Slab5Atomso_DS1_GSR.nc
Slab5Atomso_DS2_GSR.nc
Slab7Atomso_DS1_GSR.nc
Slab7Atomso_DS1_SUS.nc
