
OldSUS.ncFiles/scro_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_GS_nsym1o_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_GS_nsym1_2kpto_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_GS_nsym0o_DS1_SUS.nc
OldSUS.ncFiles/Al_Slab_DoubleVoid_GSo_DS1_SUS.nc
OldSUS.ncFiles/Al_Bulk_GSo_DS1_SUS.nc
Oldchi0rrMatrices/chi0rrSlabSym_Mat.npy
Oldchi0rrMatrices/chi0rrSlabSym_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrSlabnsym0_Mat.npy
Oldchi0rrMatrices/chi0rrSlabnsym0_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrSlab_Mat.npy
Oldchi0rrMatrices/chi0rrSlab_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrslab2_Mat.npy
Oldchi0rrMatrices/chi0rrconv_Mat.npy
Oldchi0rrMatrices/chi0rrconv_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrBulkSym_Mat.npy
Oldchi0rrMatrices/chi0rrBulkSym_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0rrBulk_Mat.npy
Oldchi0rrMatrices/chi0rrBulk_Kaltak_Mat.npy
Oldchi0rrMatrices/chi0GGSlabSym_Mat.npy
Oldchi0rrMatrices/chi0GGSlabNsym0_Mat.npy
Oldchi0rrMatrices/chi0GGSlab_Mat.npy
Oldchi0rrMatrices/chi0GGSlab2D_Mat.npy
